
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10vw;
    background-color: black;
    padding: 3vh;
    width: 100%;
    border-bottom: 2px solid red;
}

.header-links {
    display: flex;
    gap: 5VW;
}

.header-links a {
    color: white;
    text-decoration: none;
}

.header-links a:hover {
    color: red;
}

.logo {
    /* width: 15vw; */
    width: 16dvw;
    height: auto;
    padding-left: 5%;
    cursor: pointer;
}

.menu {
    display: none;
    width: 3vw;
    height: auto;
    padding-top: 1.2vh;
    padding-right: 5%;
    cursor: pointer;
}

.profile-icon {
    width: 2.5vw;
    height: auto;
    cursor: pointer;
    margin-left: 28vw;
}

/* media query - mobile */

@media (max-width:480px) {

    .logo {}

    .menu {
        display: block;
        padding-right: 10%;
    }

    .profile-icon {
        
    }

    .header-links {
        position: absolute;
        top: 60px;
        right: 0;
        background-color: black;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        display: none;
        padding: 1rem;
        z-index: 5;
    }

    .search-container {
        height: 10vh;
    }

    .header {
        justify-content: space-between;
    }


}

/* media query - tablet */

@media (max-width:768px) {

    .logo {

    }

    .header-links {
        position: absolute;
        top: 60px;
        right: 0;
        background-color: black;
        flex-direction: column;
        align-items: center;
        width: 100%;
        display: none;
        padding: 1rem;
        z-index: 5;
    }

    .header-links.show {
        display: flex;
    }

    .profile-icon {
        width: 3vw;
    }

    .header {
        justify-content: space-between;
    }

    .menu {
        display: block;
        padding-right: 10%;
    }

    .search-container {
        height: 12vh;
    }
}

