
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    overflow-x: hidden;
}

.div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90dvh;
    background-color: black;
    color: white;
    text-align: center;
    gap: 5vh;
}

.title11 { 
    color: yellow;
    font-size: 5vw;
    font-weight: bold;
    text-shadow: 0 0 3px yellow;
}

.title12 {
    color: red;
    font-size: 7vw;
    font-weight: bold;
    text-shadow: 0 0 15px red;
}

.button1 {
    padding: 4%;
    display: flex;
    gap: 2vw;
}

.button1 button {
    font-size: 1.5vw;
    padding: 1vh 3vh;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/* Button hover effect */
.button1 button:hover {
    transform: scale(1.1);
    opacity: 1;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.login-btn {
    background-color: #ffd500;
    color: black; }

.register-btn {
    background-color: #ff1c1c;
    color: white;     
}


/* Search container */

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3dvh;
    height: 17vh;
    background-color: yellow;
}

.title-find-movie {
    font-size: 3dvw;
    margin-bottom: 2vh;
}

.search-bar {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 20vw;
    margin-bottom: 4vh;
    border-radius: 3px;
    padding: 1vh;
}

.search-bar input {
    width: 16.5vw;
    border: none;
}

.search-bar img {
    width: 1.5dvw;
    border: none;
}

/* show movies */

.movie-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4vw;
    padding: 2rem;
    background-color: #000;
}

.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 200px;
    border-radius: 12px;
    padding: 5px;
    color: white;
}

.movie-card:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 10%;
}

.movie-card h3 {
    font-size: 1.1rem;
    margin: 0.5rem 0 0.2rem;
    text-align: center;
}

.movie-card p {
    font-size: 0.9rem;
    color: #ccc;
    text-align: center;
    padding: 0 10px;
}

/* page controller bar */

.pages-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    color: white;
}

.pages-controls button {
    padding: 5px 10px;
    cursor: pointer;
}